* {
  margin: 0px;
  padding: 0px;
}

body {
  line-height: 1.6;
  font-size: 18px;
  color: rgb(211, 211, 211);
  font-family: arial;
  background-color: black;
  margin: 0;
}

main {
  height: 100vh;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

$max-screensharing-height: "100vh - 90px - 80px - 20px";

@mixin dark-button {
  position: relative;
  display: block;
  height: 36px;
  width: 100%;
  border-radius: 9px;
  background-color: #505050;
  border: solid 1px transparent;
  color: #fff;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

$space: 10px;
$media-controls-height: 80px;

.Index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8 * $space 2 * $space;
}

.VideoChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  video {
    width: 100%;
    object-fit: fill;
  }

  #videos-grid {
    margin: 0.5 * $space;
  }

  .VideoGridContainer {
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }

  .grid-1 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    video {
      max-height: calc(100vh - #{$media-controls-height} - 150px);
      max-width: calc(100vw - 100px);
      width: auto;
    }
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $space;
    width: 65%;
  }
}

.VideoFeed {
  position: relative;
  display: flex;
  border-radius: 0.5 * $space;
  border-color: #383838;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}

.UserOwnVideo {
  transform: rotateY(180deg);
}

.VideoLabel {
  position: absolute;
  bottom: 0;
  left: 0;

  min-width: 10 * $space;
  padding: 0 $space;
  z-index: 1000;

  color: white;
  background: linear-gradient(to bottom left, transparent 0%, black 150%);
}

.VideoPlaceholder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

.MutedAudioIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 $space;
  z-index: 100;
}

.VideoChat-screensharing {
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: flex-start;

  .grid-1 {
    .VideoFeed {
      width: 100%;
      video {
        width: inherit;
      }
    }
  }

  .grid-1,
  .grid-2 {
    width: 100%;
    grid-template-columns: 1fr;
    max-height: calc(#{$max-screensharing-height});
    grid-auto-rows: minmax(min-content, max-content);
  }

  .VideoGridContainer {
    height: 100%;
  }

  @media only screen and (min-width: 1600px) {
    grid-template-columns: 3fr 2fr;
    .grid-2 {
      grid-template-columns: 1fr 1fr;
    }
    .VideoGridContainer {
      height: inherit;
    }
  }
}

.Room {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$media-controls-height});
  box-sizing: border-box;
  padding: 2 * $space;

  .roomName {
    margin-bottom: $space;
  }

  a {
    text-decoration: none;
    cursor: pointer;

    &,
    &:visited,
    &:active {
      color: inherit;
    }

    &:hover {
      color: #404040;
    }
  }
}

.RoomForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50 * $space;
  width: 100%;

  .nameLabel {
    font-weight: 600;
  }

  .nameInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .submitButton {
    @include dark-button;
    transition: all 0.1s ease-in-out;
    margin-top: $space;
    &:hover {
      background-color: transparent;
      border-color: #fff;
      transition: all 0.1s ease-in-out;
    }
  }
}

.VideoChatError {
  text-align: center;
  padding: $space;
}

.MediaControls {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $media-controls-height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2 * $space 3 * $space;
  background-color: black;
}

.DisabledControlIcon {
  svg {
    stroke: #a2071d;
  }
  pointer-events: none;
}

.ControlIcon {
  cursor: pointer;
  margin-right: 3 * $space;

  svg {
    height: 3 * $space;
    width: 3 * $space;
  }

  &:hover {
    svg {
      stroke: gray;
    }
  }
}

.Screensharing {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: $space;
  flex: 5;
  .VideoFeed {
    border-radius: 5px;
    border: none;
    max-height: calc(#{$max-screensharing-height});
  }
}

.StartScreensharing {
  button {
    @include dark-button;
    padding: 0.5 * $space;
    width: inherit;
    &:hover {
      background-color: #292929;
    }
  }
}
