body {
  margin: 40px auto;
  max-width: 900px;
  line-height: 1.6;
  font-size: 18px;
  color: rgb(211, 211, 211);
  font-family: arial;
  background-color: black;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.Index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px 40px 40px;
}

.Index a {
  text-decoration: none;
  cursor: pointer;
}

.Index :visited,
.Index :active {
  color: inherit;
}

.Index :hover {
  color: #404040;
}

.Preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Preview video {
  max-width: 100%;
  border-radius: 5px;
}

.PlayerInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.PlayerInfo a {
  text-align: center;
  margin-bottom: 20px;
}

.PlayerInfo span {
  text-align: center;
}

.Player {
  width: 80%;
}

.Player video {
  outline: none;
}

.Control {
  text-align: center;
  margin: 20px;
}
