<div>
    <h2>Membrane WebRTC video room demo</h2>
    <div id="videochat">
    </div>
    <template id="template">
        <video playsinline autoplay></video>
    </template>
    <div id="control">
        <%# <button id="toggleStream" onclick="toggleStream()">Stop</button> %>
        <button id="toggleStream" onclick="console.log('dupa')">Stop</button>
    </div>
</div>
