body {
  margin:40px auto;
  max-width:900px;
  line-height:1.6;
  font-size:18px;
  color:rgb(211, 211, 211);
  font-family: arial;
  background-color: black;
}

h1, h2, h3 {
  line-height:1.2
}

video {
  max-width: 100%;
  width: 400px; 
}
