version: 2.1
commands:
  build_test:
    parameters:
      demo:
        type: string
    steps:
      - run: cd "<<parameters.demo>>" && mix deps.get
      - run: cd "<<parameters.demo>>" && mix deps.compile --all
      - run: cd "<<parameters.demo>>" && mix format --check-formatted
      - run: cd "<<parameters.demo>>" && mix test
  npm_install:
    parameters:
      demo:
        type: string
    steps:
      - run: cd <<parameters.demo>>/assets && npm install
      - run: cd <<parameters.demo>>/assets && npm run format:check
  prepare_openssl:
    parameters:
      demo:
        type: string
    steps:
      - run: cd <<parameters.demo>> && openssl req -newkey rsa:2048 -nodes -keyout priv/certs/key.pem -x509 -days 365 -out priv/certs/certificate.pem -subj "/C=US"
jobs:
  build:
    docker:
      - image: membraneframeworklabs/docker_membrane:latest
    environment:
      MIX_ENV: test
    working_directory: '~/app'
    steps:
      - checkout
      - run: cd camera_to_hls && mix deps.get
      - run: cd camera_to_hls && mix deps.compile --all
      - run: cd camera_to_hls && mix format --check-formatted
      - build_test:
          demo: rtmp_to_hls
      - build_test:
          demo: rtp
      - build_test:
          demo: rtp_to_hls
      - build_test:
          demo: rtsp_to_hls
      - build_test:
          demo: simple_element
      - build_test:
          demo: simple_pipeline
      - build_test:
      - build_test:
          demo: webrtc_to_hls
      - npm_install:
          demo: webrtc_to_hls
      - build_test:
          demo: webrtc_videoroom
      - npm_install:
          demo: webrtc_videoroom
