<div class="Index">
    <h2>Membrane WebRTC to HLS demo</h2>
    <div id="preview" class="Preview"> </div>
    <div id="control" class="Control"></div>
    <div id="player-info" class="PlayerInfo">
        <span>Waiting for HLS playlist to become playable...</span>
    </div>
    <script defer type="text/javascript" src={static_path(@conn, "/assets/js/app.js")}></script>
</div>